<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyi.reggie.mapper.CategoryMapper">

    <resultMap type="com.liyi.reggie.entity.Category" id="Category">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>


    <delete id="deleteCategory">
        delete from category where id = #{ids}
    </delete>

    <select id="queryCateoryAll" resultMap="Category">
        select * from category
    </select>

    <insert id="addCategoryType" parameterType="com.liyi.reggie.entity.Category">
        insert into category values (#{id},#{type},#{name},#{sort},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>

    <update id="updateCategory" parameterType="com.liyi.reggie.entity.Category">
        update category
        <set>
            <if test="name !=null">
                name=#{name},
            </if>
            <if test="sort !=null">
                sort=#{sort},
            </if>
            <if test="updateTime !=null">
                update_time=#{updateTime},
            </if>
            <if test="updateUser !=null">
                update_user=#{updateUser}
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>